<div class="container my-5">
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>HOTELES ANDER</h1>
            <p>Quédese 4 noches y disfrute de un 25% de descuento en su villa con piscina privada. Disfrute de beneficios exclusivos adicionales con nuestra oferta Quédese Más, Pague Menos:
                <br>
                • Wi-Fi de alta velocidad de cortesía.
                <br>
                • Dos bicicletas de cortesía por villa durante su estadía.
                <br>
                • Fruta fresca y agua embotellada.
                <br>
                • Piscina exterior privada y terraza.
                <br>
                * Esta oferta no se aplica a reservas de grupos.</p>
                <i class="bi bi-airplane-engines-fill fs-1 text-danger"></i>
        </div>
        <div class="col-12 col-md-4">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/comidas.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-12 col-md-6">
                    <img src="../../assets/img/gym.jpg" alt="" class="img-fluid w-100 h-100">
                </div>
            </div>
        </div>
    </div>
</div>