<header>
    <app-menu></app-menu>
</header>
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8">
                <app-formareserva></app-formareserva>
            </div>
        </div>
    </div>
</div>

<section>
    
</section>

<br><br><br>

<section>
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            <div class="col" *ngFor="let auxiliar of habitaciones">
                <div class="card h-100 shadow">
                    <img src={{auxiliar.fotografias[0]}} alt="" class="img-fluid w-100 h-100">
                    <h5>{{auxiliar.nombre}}</h5>
                </div>

            </div>
        </div>
    </div>
</section>

<section>
    <app-ofertahotel></app-ofertahotel>
</section>